# Analisis de los datos

In [5]:
from extraccion import minioFunctions as mf
import matplotlib.pyplot as plt

### Caracteristicas de las variables

In [6]:
df_final = mf.bajar_fichero(mf.crear_cliente(), path_server=f"grupo3/raw/Final/prueba.parquet", type="df")
print("*"*20)
print('Se presenta el analisis general del dataset final en los siguientes puntos:')
print("*"*20)
print('Representación de las primeras filas del dataset:')
print(df_final.head(10))
print(f"La longitud total de los datos es de: {len(df_final)}")

Dataframe importado correctamente
********************
Se presenta el analisis general del dataset final en los siguientes puntos:
********************
Representación de las primeras filas del dataset:
                                         vegetacion2        lat        lon  \
0                                 Natural grasslands  41.046177  26.097699
1                                 Natural grasslands  40.925424  25.816234
2                                Beaches dunes sands  38.129847  23.487209
3                        Transitional woodland-shrub  40.282575  -6.449077
4                                  Coniferous forest  37.427714  -8.714185
5                                Agro-forestry areas  36.100014  27.925619
6                                       Mixed forest  38.126462  23.660852
7                                Moors and heathland  39.323860  22.837685
8                                               Otro  36.887402   6.567647
9  Land principally occupied by agriculture with ...  37.794189  23.934744

        date
0 2023-08-19
1 2023-08-20
2 2023-07-18
3 2023-05-18
4 2023-08-06
5 2023-07-23
6 2023-08-22
7 2023-07-26
8 2023-07-24
9 2023-07-17
La longitud total de los datos es de: 14044

In [7]:
print('Información del tipo de variables del dataset:')
df_final.info()

Información del tipo de variables del dataset:
<class 'pandas.DataFrame'>
RangeIndex: 14044 entries, 0 to 14043
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vegetacion2  14044 non-null  str
 1   lat          14044 non-null  float64
 2   lon          14044 non-null  float64
 3   date         14044 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(2), str(1)
memory usage: 761.5 KB

In [8]:
print('Conteo de valores no-nulos por columna:')
print(df_final.notna().sum())
print(f'Hay {df_final.notna().sum().sum()} valores no-nulos de un total de {df_final.size} celdas, lo que representa un {df_final.notna().sum().sum()/df_final.size*100:.2f}% de los datos.')

Conteo de valores no-nulos por columna:
vegetacion2    14044
lat            14044
lon            14044
date           14044
dtype: int64
Hay 56176 valores no-nulos de un total de 56176 celdas, lo que representa un 100.00% de los datos.

In [9]:
print('Presentacion de informacion estadistica de las variables:')
df_final.describe()

Presentacion de informacion estadistica de las variables:

                lat           lon                        date
count  14044.000000  14044.000000                       14044
mean      46.764455     17.302252  2023-06-24 20:57:35.425804
min       35.036488     -9.121209         2023-01-01 00:00:00
25%       40.502437     11.125045         2023-03-24 00:00:00
50%       43.531806     21.466922         2023-06-22 00:00:00
75%       50.599621     26.434589         2023-09-22 00:00:00
max       70.945618     44.082990         2023-12-31 00:00:00
std        8.911030     11.568381                         NaN

In [10]:
print('Frecuencia de las distintas variables categóricas:')
for col in df_final.select_dtypes(include=['object']).columns:
    print('*'*20+f'Columna: {col}'+'*'*20)
    # print(df_final[col].value_counts(dropna=False))
    print('Frecuencia relativa:')
    print(df_final[col].value_counts(dropna=False, normalize=True))
    print('Numero de valores únicos:', df_final[col].nunique())

Frecuencia de las distintas variables categóricas:
********************Columna: vegetacion2********************
Frecuencia relativa:
vegetacion2
Permanently irrigated land                                                               0.271077
Mixed forest                                                                             0.136998
Coniferous forest                                                                        0.105668
Beaches dunes sands                                                                      0.064369
Natural grasslands                                                                       0.054044
Agro-forestry areas                                                                      0.053831
Annual crops associated with permanent crops                                             0.049843
Land principally occupied by agriculture with significant areas of natural vegetation    0.043862
Sclerophyllous vegetation                                                                0.030262
Moors and heathland                                                                      0.029621
Transitional woodland-shrub                                                              0.027271
Rice fields                                                                              0.025206
Burnt areas                                                                              0.023142
Pastures                                                                                 0.015807
Otro                                                                                     0.013529
Fruit trees and berry plantations                                                        0.013386
Peat bogs                                                                                0.011891
Sparsely vegetated areas                                                                 0.007833
Vineyards                                                                                0.006124
Olive groves                                                                             0.005269
Complex cultivation patterns                                                             0.004984
Broad-leaved forest                                                                      0.001994
Non-irrigated arable land                                                                0.001923
Bare rocks                                                                               0.000926
Industrial or commercial units                                                           0.000356
Road and rail networks and associated land                                               0.000285
Coastal lagoons                                                                          0.000142
Salines                                                                                  0.000071
Mineral extraction sites                                                                 0.000071
Estuaries                                                                                0.000071
Salt marshes                                                                             0.000071
Glaciers and perpetual snow                                                              0.000071
Name: proportion, dtype: float64
Numero de valores únicos: 32

C:\Users\PC\AppData\Local\Temp\ipykernel_8100\3398363223.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  for col in df_final.select_dtypes(include=['object']).columns: